<%= form_with(model: @app, local: true, url: confirm_apps_path ) do |form| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= @app.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="app_content">
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>
  <%= link_to "つぶやき一覧画面に戻る", apps_path %>
