<!DOCTYPE html>
<html>
  <head>

    <title>Twitterkadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>
  <header class="header">
    <%= link_to image_tag('logo.png'), 'http://localhost:3000/apps' %>
  </header>

  <body>
    <div class="wrapper">
      <div id="container">
        <div class="article">
        <br>
        <%= yield %>
        <br>
        <br>
        </div>
      <footer class="footer">
      <p>Copyright © 2020 つぶやき RIGHTS RESERVED.</p>
      </footer>
      </div>
    </div>
  </body>
</html>
